.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
color:#1c16cc;

font-style: unset;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    border: 10px solid black;
}


#status
{
font-size: 50px;

}

body{
    
    background:linear-gradient(#d62118, #d65718, #d6c918, #17a61a, #16ccbd, #1c16cc, #a516cc) ;
}

h2{
    font-style: unset;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    border: 10px solid black;
    color: #d62118;
    font-size: x-large;
}

h3{
    font-style: unset;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    border: 10px solid black;
    color: #d62118;
    font-size: x-large;
}

h4{
    font-style: unset;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    border: 10px solid black;
    color: #d62118;
    font-size:x-large;
}

h5{
    font-style: unset;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    border: 10px solid black;
    color: #d62118;
    font-size: x-large;
}

h6{
    font-style: unset;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    border: 10px solid black;
    color: #d62118;
    font-size: x-large;
}